* {
  margin: 0;
  padding: 0;
}
.upper-nav {
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.upper-nav h3 {
  color: #fff;
  font-size: small;
}
.upper-nav i {
  margin-left: 10px;
}
.nav-main {
  display: flex;
}
.logo {
  width: 25%;
}
.logo img {
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
  width: 120px;
  margin-left: 2rem;
}
.bar-chaild {
  display: flex;
  padding-top: 3.2rem;
}
.bar-chaild span {
  margin-right: 1.2rem;
}
.bar-chaild span:nth-child(7) {
  color: red;
  font-weight: 500;
}
.bar-chaild .sp3 {
  font-weight: 700;
}
.second-bar {
  position: absolute;
  display: flex;
  margin-left: 65rem;
  margin-top: 0.5rem;
}
.second-bar span {
  margin-right: 1rem;
  font-size: smaller;
}

.search {
  padding-top: 2.5rem;
  margin-left: 3rem;
}
.search input {
  width: 200px;
  height: 25px;
  padding: 5px;
  background: rgb(236, 239, 241);
  border: none;
}
.search i {
  margin-left: -1.7rem;
}
.pro-heart-bag {
  padding-top: 3rem;
  position: relative;
  margin-left: 2rem;
}
.pro-heart-bag i {
  margin-right: 1.5rem;
  font-size: 25px;
}
.pro-heart-bag i:nth-child(1) {
  margin-left: 5rem;
}
.pro-heart-bag .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 214, 25);
  position: absolute;
  margin-left: 1rem;
  margin-top: -1rem;
}
.pro-heart-bag .circle span {
  margin-left: 6px;
}
.the-brand-bar {
  background-color: rgb(236, 239, 241);
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
.the-brand-bar h3 {
  font-weight: 300;
  font-size: 17px;
}
.the-brand-bar i {
  position: absolute;
  margin-left: 27rem;
}
.valentine-poster img {
  width: 100%;
}
.valentine-poster {
}
.extra-off {
  margin-top: 13rem;
  margin-left: 4rem;
  position: absolute;
}
.extra-off h1 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 1rem;
}
.extra-off p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 1.5rem;
}
.extra-off button {
  width: 150px;
  height: 35px;
}
.extra-off i {
  margin-left: 1rem;
}
.popular h1 {
  margin-left: 4rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}
.popular-item1 {
  display: flex;
  margin-left: 4rem;
}
.popular-item2 {
  display: flex;
  margin-left: 4rem;
  margin-top: 1.5rem;
}
.popular h2 {
  font-size: 40px;
}

.popular-item1 div:nth-child(1) {
  width: 30%;
  border-bottom: 1px solid;
  margin-right: 4rem;
}
.popular-item1 div:nth-child(2) {
  width: 30%;
  border-bottom: 1px solid;
  margin-right: 4rem;
}
.popular-item1 div:nth-child(3) {
  width: 30%;
  border-bottom: 1px solid;
}
.popular-item2 div:nth-child(1) {
  width: 30%;
  border-bottom: 1px solid;
  margin-right: 4rem;
}
.popular-item2 div:nth-child(2) {
  width: 30%;
  border-bottom: 1px solid;
  margin-right: 4rem;
}
.popular-item2 div:nth-child(3) {
  width: 30%;
  border-bottom: 1px solid;
}
.new-arrivals {
  margin-top: 4rem;
  display: flex;
  margin-left: 4rem;
}
.new-arrivals button:nth-child(1) {
  width: 130px;
  height: 40px;
  background: black;
  color: white;
}
